# PostgreSQL Configuration
POSTGRES_DB=tarbook_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORT=5432

# MinIO Configuration
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Nginx Configuration
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
