---
title: "Entity: document-verification-record"
---

# Entity: document-verification-record

Part of [[modules/certificate/index|Certificate Bounded Context]].
Mapped to database table.
